
.top-hero-section, #about-section {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1105%26quot%3b)' fill='none'%3e%3cpath d='M -146.31648973486898%2c262 C -98.32%2c289.2 -2.32%2c426.8 93.68351026513102%2c398 C 189.68%2c369.2 237.68%2c127.4 333.683510265131%2c118 C 429.68%2c108.6 477.68%2c350.8 573.683510265131%2c351 C 669.68%2c351.2 717.68%2c109.6 813.683510265131%2c119 C 909.68%2c128.4 957.68%2c392 1053.683510265131%2c398 C 1149.68%2c404 1197.68%2c156.8 1293.683510265131%2c149 C 1389.68%2c141.2 1504.42%2c364.6 1533.683510265131%2c359 C 1562.95%2c353.4 1458.74%2c168.6 1440%2c121' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -299.35348600255566%2c440 C -251.35%2c394.8 -155.35%2c225.8 -59.35348600255564%2c214 C 36.65%2c202.2 84.65%2c395.6 180.64651399744434%2c381 C 276.65%2c366.4 324.65%2c146.2 420.64651399744434%2c141 C 516.65%2c135.8 564.65%2c348.8 660.6465139974443%2c355 C 756.65%2c361.2 804.65%2c155.8 900.6465139974443%2c172 C 996.65%2c188.2 1044.65%2c418.2 1140.6465139974443%2c436 C 1236.65%2c453.8 1320.78%2c264.6 1380.6465139974443%2c261 C 1440.52%2c257.4 1428.13%2c386.6 1440%2c418' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1105'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}


i {
  color: blue;
}



.swiper-slide {
  position: relative;
}

.testimonial-text {
  position: relative;
  background: #f0ffff;
  border-radius: 1em .5em 0 0;
 
  
}
.testimonial-text:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #f0ffff transparent;
  border-width: 36px 17px 0;
  bottom: -36px;
  left: 51%;
  margin-left: -17px;
}


.testimonial-text i {
  color: #b7e2e2;
}

.testimonial-author img {
  max-width: 30%;
}
  


.number-section, .client-section {
  background-color: #F0FFFF;
}

.client-section img {
filter: grayscale(100%);
max-width: 40%; 
}

.client-section img:hover { 
filter: grayscale(0%);
transform: scale(1.2);
}


.text-muted {
  margin-bottom: 2em;
}


/* @media screen and (max-width: 800px) and (min-width: 700px) {
   .mySwiper {
    display: flex;
    flex-direction: column;
  } */
  
}