
.top-hero-section{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1403%26quot%3b)' fill='none'%3e%3cpath d='M589.7386283349313 493.9344781183665L672.222140120793 553.8622572900264 732.1499192924529 471.37874550416467 649.6664075065912 411.4509663325048z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M170.36879911985514 546.9733118161805L270.39729966191965 516.3915301801671 239.81551802590624 416.3630296381026 139.78701748384174 446.944811274116z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M520.144%2c268.49C543.619%2c267.117%2c561.869%2c250.266%2c573.35%2c229.744C584.514%2c209.79%2c587.825%2c186.308%2c577.552%2c165.881C566.141%2c143.191%2c545.527%2c124.826%2c520.144%2c123.949C493.4%2c123.025%2c468.826%2c138.498%2c455.428%2c161.662C442.011%2c184.858%2c441.062%2c213.748%2c454.947%2c236.667C468.377%2c258.835%2c494.269%2c270.003%2c520.144%2c268.49' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1078.026081661015 113.0859632075851L1191.7143969433648 205.14894568407186 1170.0890641375017-0.6023520747646387z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M198.81931612943953 204.89990607979797L283.8620038299853 107.06948488392736 100.98889493356891 119.85721837925216z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M960.8087287547477 107.71916599583784L1048.8667542151486 154.54044866661957 1007.6300114255293 19.661140535436985z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M239.75654254550437 413.5638290974646L300.72213775063074 572.8381673981789 396.55015301598155 458.6347859345244z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M57.218%2c169.859C83.471%2c169.511%2c112.437%2c165.92%2c125.731%2c143.28C139.14%2c120.445%2c129.705%2c92.444%2c115.97%2c69.803C102.855%2c48.185%2c82.471%2c31.611%2c57.218%2c30.345C29.628%2c28.962%2c1.935%2c39.927%2c-12.704%2c63.354C-28.191%2c88.139%2c-30.553%2c120.707%2c-14.513%2c145.138C0.363%2c167.797%2c30.114%2c170.218%2c57.218%2c169.859' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1403'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}


i {
  color: blue;

}

.card-1:hover {
 transform:scale(1.1);
}

.card-1 {
  transition: all .9s ease-in-out;
  padding : 40px 0px 50px 0px;
}


.card i {
  font-size: 2em;
}


.swiper-slide {
  position: relative;
}

.testimonial-text {
  position: relative;
  background: #f0ffff;
  border-radius: 1em .5em 0 0;
 
  
}
.testimonial-text:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #f0ffff transparent;
  border-width: 36px 17px 0;
  bottom: -36px;
  left: 51%;
  margin-left: -17px;
}


.testimonial-text i {
  color: #b7e2e2;
}

.testimonial-author img {
  max-width: 30%;
}
  


.number-section, .client-section, .services, .team, .faq, .copyright {
  background-color: #F0FFFF;
}

.service-icon, .service-icon-2, .service-icon-3,.service-icon-4, .service-icon-5, .service-icon-6 {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.service-icon svg, .service-icon-2 svg, .service-icon-3 svg, .service-icon-4 svg,  .service-icon-5 svg,  .service-icon-6 svg {
  position: absolute;
  top: 0;
  z-index:1;
  
}

.service-icon i, .service-icon-2 i, .service-icon-3 i, .service-icon-4 i,.service-icon-5 i, .service-icon-6 i {
  z-index:17;
}

.service-card:hover path {
  fill: #47aeff;
}

.card-2 .brand-icons {
  display: none;
  
  
}




.brand-icons {
  position: absolute;
  bottom:25%;
  left: 30%;
}

.card-2 {
  position: relative;
}

.card-2:hover .brand-icons {
  display: block;
  margin-top: 1em;
}

.card-2 i:hover  {
  color: rgba(31, 113, 235, 0.87);
  font-size: 1.5em;
}


.service-card:hover i {
  color: white;
}


.service-card, .service-card-2, .service-card-3,.service-card-4,.service-card-5, .service-card-6 {
  transition: all .9s ease-in-out;
  padding : 70px 0px 80px 0px;
}

.service-card-2 i {
  color: #ffa76e;
}

.service-card-2:hover i {
  color: white;
}

.service-card-2:hover path {
  fill: #ffa76e;
}

.service-card-3 i {
  color: rgba(228, 84, 151, 0.867);
}

.service-card-3:hover i {
  color: white;
}

.service-card-3:hover path, .service-card-4:hover path {
  fill: #ffbb2c;

}

.service-card-4 i {
  color: #ffbb2c;

}



.service-card-4:hover i, .service-card-5:hover i {
  color: white;

}

.service-card-5 i {
  color: #ff5828;

}

.service-card-5:hover path{
  fill: #ff5828;

}

.service-card-6:hover i {
  color: white;

}

.service-card-6 i {
  color: #11dbcf;

}

.service-card-6:hover path{
  fill: #11dbcf;

}



.client-section img {
filter: grayscale(100%);
max-width: 40%; 
}

.client-section img:hover { 
filter: grayscale(0%);
transform: scale(1.2);
}


.text-muted {
  margin-bottom: 2em;
}


.brand-icons i {
  font-size: 1em;
 
}

.footer {
  background-color:#FAF9F6;
}

footer .iconic i {
  font-size: 2em;
  padding-right: .5em;

}

.footer-menu i {
font-size: .5em;

}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}







